<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>


{{ $sampleMessage }}

&copy;2010-{{ $currentYear }}

<div tpl-foreach="$orderLines as $orderLine">
    Product: {{$orderLine -> productName}}<br>
    Price: {{$orderLine -> price}}
    <span tpl-if="$orderLine -> inStock">In stock</span>
    <span tpl-if="!$orderLine -> inStock">Not in stock</span>
</div>

<div tpl-include="{{ $subTemplatePath }}"></div>

{{ join(', ', $colors) }}

</body>
</html>
